.container{
  margin: auto;
}

fieldset {
  display: flex;
  justify-content: center;
  background-color: #26ae61;
  border-radius: 50px;
  
}

.relative-container {
  display: flex;
  justify-content: center;
  margin: 0; 
}

.form-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.small-input {
  width: 250px;
  margin-right: 10px;
}

.dropdown {
  margin-top: 10px;
}

