 .container {
  position: relative;
  margin: auto;
}

.bg1 {
  border-radius: 50px;
  width: 100%;
  height: auto;
  position: relative; /* Added this line */
}

.search-fieldset {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(231, 231, 241, 0.8);
  border-radius: 50px;
  padding: 20px;
  box-sizing: border-box;
}

.form-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.small-input {
  width: 250px;
  margin-right: 10px;
}

.i1 {
  border-radius: 50px;
}

.l1 {
  background-color: white;
  border-color: white;
  border-radius: 50px;
  padding: 5px;
  margin: auto;
}

.s1 {
  color: white;
  background-color: #26ae61;
  border-radius: 50px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 7px;
}

.l1:hover {
  border-color: blue;
}
